.edit-form {
  padding-right: 1rem;
  background: var(--clr-grey-10);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  color: var(--clr-grey-5);

  width: 50%;
}

.grocerie-title {
  padding-right: 1rem;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  color: black;
  width: 50%;
}

input:disabled {
  background-color: #fff;
  color: black;
}
